@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

@keyframes hacerHover {
    0% {
      transform: scale(100%);
    }
    100% {
        transform: scale(105%);
  }
}
@keyframes dejarHover {
    0% {
        transform: scale(105%);
    }
    100% {
        transform: scale(100%);
    }

}
.grid {
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: 300px;
    margin-right: 50px;
    gap: 20px;
    background-color: #99ceff;
    padding: 20px;
    justify-items: center;
    margin-bottom: 50px;
}

.puertas {
    height: 300px;
    width: 300px;
    background-color: #cce6ff;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}
:hover.puertas {
    animation: hacerHover;
    animation-duration: 0.5s;
    transform: scale(105%);
}
:not(:hover).puertas {
    animation: dejarHover;
    animation-duration: 0.5s;
}

@keyframes agitar {
    0% {
        transform: rotate(0deg) translateY(0);
      }
      50% {
        transform: rotate(-5deg) translateY(-5px);
      }
      100% {
        transform: rotate(0deg) translateY(0);
      }
    }

.shake {
    animation: agitar;
    animation-duration: 0.5;
}
.puertas p {
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: bold;
}