* {
    margin: 0px;
    padding: 0px
}
body {
    background: #5ba7ffd5;
}
.Marginado {
    margin: 100px;
    display: flex;
}
#boton {
    width: 200px;
    height: 70px;
    border-width: 4px;
    border-radius: 35px;
    font-size: 25px;
    font-weight: bold;
    color: royalblue;
    cursor: pointer;
    float: left;
}
#boton:active {
    font-size: 23px;
    text-decoration: underline;
    background: url(../img/trippy2.gif);
}

